body {
    margin: 0;
    font-family: Helvetica;
}

#content {
    min-height: 100px;
}
.ui.grid{
    padding: 0!important;
}
.pushable.segment{
    margin: 0!important;
}

.logo {
    color: rgb(207, 0, 0);
    margin: 1em;
}
.logo:hover{
    color: rgb(207, 0, 0);
    cursor: pointer;
}

.hamburger-container {
    margin-top: 1em!important;
}
  
#hamburger-icon:hover {
    cursor: pointer!important;
}

footer {
    display: flex;
    flex-direction: column;
}
.klarna {
    height: 2.5em;
}

.visa-mastercard {
    height: 3em;
}