body {
    margin: 0;
    font-family: Helvetica;
}

#content {
    min-height: 100px;
}
.ui.grid{
    padding: 0!important;
}
.pushable.segment{
    margin: 0!important;
    background-color: #F5F5F5!important;
}

.ui.sidebar .item:hover {
    background-color: rgb(0, 142, 33)!important;
    color: #fff!important;
}

.cart-button {
    background-color: rgb(0, 142, 33)!important;
    color: #fff!important;
}

#footer-links .item {
    color: rgb(228, 228, 228);
}

/* Logotype */

.logo {
    color: rgb(207, 0, 0);
    margin: 1em;
}
.logo:hover{
    color: rgb(207, 0, 0);
    cursor: pointer;
}

/* Mobile menu button */

.hamburger-container {
    margin-top: 1em!important;
}
  
#hamburger-icon:hover {
    cursor: pointer!important;
}

/* Login button */

.login-button {
    color: rgb(91, 91, 91);
    margin-right: 1em;
}
.login-button:hover {
    color: rgb(0, 142, 33);
    cursor: pointer;
}

.placeholder-under-menu {
    height: 3.5em;
}

.ui.modal.test{
    width: 50%;
    padding: 2em;
}

.nyhetsbrev-container {
    margin: 2em!important;
}
/* shipping-adress */
.shipping-container {
    margin: 2em!important;
}
.fields.adress{
    width: 138%;
}

@media screen and (max-width: 766px) {
    .fields.adress {
      width: 100%;
    }
  }





/* Email exists text display red */

.emailExists {
    color: red;
}

/* Footer */

footer {
    background-color: rgb(13, 120, 17);
    text-align: center;
}
.footerbot{
    position: fixed; bottom: 0;
    width: 100%;
}

.trygg-logo {
    width: 4em;
}

.certifierad-logo {
    width: 9em;
}

.payment-method {
    max-width: 30%;
}

.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-container {
    background-color: #DADADA!important;
    height: 100vh;
 padding-top: 10em;
 
  }

  .column {
    max-width: 450px!important;
  }

  .resultsDiv {
      background: white;
      text-align: initial;
  }

  .productImage {
      width: 10rem;
      margin: 0 auto;
  }

  .singleProduct {
    margin-top: 2em !important;
    margin-left: 2em !important;
  }